@import "reset.scss";

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Galien";
    src: url(../fonts/Galien-Regular.woff2) format("woff2");
}

body {
    width: 100%;
}

$blue_04: #5A98D0;
$blue_03: #356EAD;
$blue_02: #316099;
$blue_01: #1F3F68;

%arcticle-link {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;

    color: $blue_03;
    text-transform: uppercase;
    opacity: 0.8;
}

%text-description {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $blue_01;
    opacity: 0.6;
}
%section-title {
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: $blue_02;
}
%h1-title {
    font-family: 'Galien';
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: $blue_01;
}


%what-we-do-title {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color:$blue_01;
}

%button {
    display:inline-block;
    width: 220px;
    height: 56px;
    margin-top:86px;
    background: $blue_04;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;

    @extend %text-description;
    letter-spacing: 0.04em;
    line-height: 55px; 
    opacity: 1;
    text-align:center;
    color: #FFFFFF;
}

%article-title {
    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    font-size: 28px;
    line-height: 38px;
    opacity: 1;
    color:$blue_01;
    letter-spacing: 0.04em;
    text-align: start;
}

%article-description {
    @extend %text-description;
    color:#000;
    letter-spacing: 0.04em;
    text-align: start;
}

%article-more-info {
    p { 
        letter-spacing: 0.04em;
        opacity: 1;
        text-align: start;
    }
    p:first-child {
        color:$blue_01;
    }
    p:last-child {
        color:#000;
        opacity: 0.4;
    }
}

//navigation for all headers
nav {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    height: 48px;

    justify-content: space-between;
    align-items: center;
    margin: 48px auto;
    #burger__img {
        width: 24px;
    }
    #logo {
        width: 48px;
    }
}


.section-title {
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: $blue_02;

    max-width:358px;
}

.description {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $blue_01;
    opacity: 0.6;
}

.button {
    @extend %button;
}

#start-header {
    min-height: 768px;
    .header__overlay {
        position: absolute;
        min-height: 768px;
        min-width: 100%;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
        opacity: 0.2;
    }
    .header__illustration {
        position:absolute;
        top:133px;
        left: 655.38px;
        background-image: url("../img/illustration.svg");
        width: 687.25px;
        height: 590.31px;
    }
    .header__introduce {
        max-width: 550px;
        position: relative;
        left:190px;
        top:53px;
        .header__title {
            @extend %h1-title;
        }
        .header__description {
            max-width: 425px;
            margin-top:32px;
        }
        .header__button {
            @extend %button;
        }
    }
}

#competence {
    width:940px;
    margin: 0 auto;
    margin-top:192px;
    height: 1342px;
    .competence__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .competence__block {
        position: relative;
        min-width: 380px;
        min-height: 525px;
        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        margin-bottom:100px;
        .competence__img {
            position: relative;
            left: 78px;
            bottom:20px;
            width: 224px;
        }
        .competence__about {
            margin-top:51px;
            max-width: 284px;
            position: relative;
            left:48px;
        }
        .competence__title {
            margin: 0 auto;
            max-width: 284px;
            @extend %what-we-do-title;
        }
        .competence__description {
            margin: 0 auto;
            margin-top:16px;
            margin-bottom: 32px;
            max-width: 284px;
        }
        .competence__lean-more {
            display:flex;
            max-width: 127px;

            justify-content: space-between;
            align-items: center;
            span {
                font-family: 'Gilroy';
                font-size: 14px;
                line-height: 30px;

                letter-spacing: 0.05em;

                color: $blue_04;
            }
            .arrow {
                width: 16px;
                height:16px;
            }
        }        
    }
    .competence__block:nth-child(odd)
    {
        bottom:230px;
        .competence__img {
            width: 182px;
            height: 132px;
            top:48px;
            left:74px;
            margin-bottom: 56px;
        }
    }
    .competence__block:last-child {
        .competence__img {
            width: 156px;
            height: 131px;
            top:49px;
            left:100px;
            margin-bottom:56px;
        }
    }
}

.section-title-wrap {
    min-width: 840px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#project {
    position:relative;
    max-width: 940px;
    margin: 0 auto;
    min-height:1118px;
    margin-bottom:192px;
    .project__about {
        .project__title {
            max-width:227px;
        }
        .project__description {
            max-width: 540px;
        }
    }
    .project__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .project__block__title {
            font-family: 'Gilroy';
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            opacity:1;
            color: #FFFFFF;
        }
        .project__block__description {
            @extend %text-description;
            line-height: 46px;
            color:#fff;
            text-align: right;
            opacity: 0.8;
        }
        .project__block:first-child {
            min-width: 940px;
            min-height: 417px;
            background: url("../img/home-instalation.png") no-repeat;
            
            margin-top: 108px;
            display: flex;
            justify-content:flex-end;
            .project__block__overlay {
                position: absolute;
                min-width: 940px;
                min-height: 417px;
                background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
            }
            .project__block__about {
                z-index:1;
                margin:48px 65px 0 0;
            }
        }
        .project__block:nth-child(2), .project__block:last-child {
            width: 422px;
            height: 417px;
            margin-top: 96px;;
            background: no-repeat;
            display: flex;
            justify-content: flex-start;
            .project__block__overlay {
                position: absolute;
                min-width: 422px;
                min-height: 417px;
                background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
                border-radius: 10px;
                z-index: 0;
            }
            .project__block__about {
                z-index:2;
                margin:24px 0 0 32px;
                .project__block__description {
                    text-align: start;
                }
            }
        }
        .project__block:nth-child(2) {
            background: url("../img/phone.png");
        }
        .project__block:last-child {
            background: url("../img/car.png");
        }
    }
}


.clients__overlay {
    position:absolute;
    width: 100%;
    height: 1549px;
    background: $blue_04;
    border-radius: 200px 0px 0px 0px;
    z-index: -1;
}
#clients {
    position: relative;
    top:92px;
    max-width: 940px;
    min-height: 680px;
    margin: 0 auto;
    .clients__about {
        display: flex;
        justify-content: space-between;
        .clients__about__title, .clients__about__description {
            color:#fff;
        }
        .clients__about__title {
            max-width: 223px;
        }
        .clients__about__description {
            max-width: 540px;
        }
    }
    .clients__logotypes {
        width: 940px;
        margin: 0 auto;
        display: grid;
        position: relative;
        top:123px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .clients__logotypes_logo {
            width: 235px;
            height: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Gilroy';
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 0.02em;
            border:1px solid #fff;
            color: #F2F2F2;
        }
        .clients__logotypes_logo:nth-child(n+4) {
            border-bottom:0;
            border-top:0;
        }
        .clients__logotypes_logo:nth-child(n-4) {
            border-top:0;
        }
        .clients__logotypes_logo:nth-child(n+1) {
            border-right:0;
        }
        .clients__logotypes_logo:nth-child(5) {
            border-left:0;
        }
        .clients__logotypes_logo:nth-child(4){
            border-bottom:1px solid #fff;
        }
        
        .clients__logotypes_logo:first-child {
            border-left:0;
        }
        .clients__logotypes_logo:last-child {
            background:rgba(31, 63, 104, 0.2);

        }
    }
}

footer {
    position: relative;
    height: 778px;
    width: 940px;
    .footer__contacts {
        display: flex;
        width: 737px;
    }
    .footer__overlay {
        width: 1270px;
        height: 869px;
        position: absolute;
        top:-91px;
        background: #316099;
        z-index: -1;
        border-radius: 0px 200px 0px 0px;
    }
    .footer-description {
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        max-width: 264px;
        color: #FFFFFF;
    }
    .footer__about {
        position: relative;
        margin-top: 91px;
        margin-bottom: 96px;
        height: 204px;
        display: flex;
    }
    .footer__about__wrapper {
        margin:0 auto;
        max-width: 460px;
        .footer__about__title {
            color:#fff;
        }
        .footer__about__description {
            max-width: 460px;
            color:#fff;
            margin-top: 32px;
        }
    }   
    .footer__line {
        position: relative;
        width: 1073px;
        opacity: 0.4;
        border: 1px solid #FFFFFF;
    }
    .footer__contacts {
        height: auto;
        position: relative;
        top:96px;
        left:214px;
        max-width: 737px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .footer__contacts__adresses {
            display: flex;
            flex-direction: column;
            .footer__contacts__company-name {
                display:flex;
                flex-direction: row;
                margin-bottom: 32px;
                .footer__contacts__name {
                    font-family: 'Gilroy';
                    font-size: 28px;
                    line-height: 46px;
                    /* identical to box height, or 164% */

                    letter-spacing: 0.02em;

                    color: #FFFFFF;
                }
                #light-logo {
                    margin-right:16px;
                }
            }
            .footer__contacts__adress {
                display:flex;
                flex-direction: row;
                margin-bottom: 24px;
                .footer__contacts__adress__type-info {
                    color:#fff;
                    font-weight: bold;
                    @extend %text-description;
                    opacity: 1;
                    margin-right:16px;
                }
            }
        }
        .footer__contacts__links {
            display: flex;
            flex-direction: column;
            .footer__contacts__title {
                margin-bottom:32px;
                font-family: 'Gilroy';
                font-size: 20px;
                line-height: 30px;
                /* identical to box height, or 150% */

                letter-spacing: 0.05em;

                /* white */
                font-weight: bold;
                color: #FFFFFF;
            }
            .footer__contacts__link {
                margin-bottom:16px;
                opacity: 1;
            }
            .footer__contacts__link:last-child {
                margin-bottom: 0;
            }
        }
        .footer__contacts__copyright {
            margin-top:64px;
            @extend %text-description;
            opacity: 0.4;
            color:#fff;
        }
    }
}


.common-header {
    width: 100%;
    .common__header__overlay {
        position: absolute;
        background: url('../img/blog-title.svg') no-repeat;
        width: 100%;
        height: 250px;
        opacity: 1;
        z-index:-1;
    }
    .common__header__about__wrapper {
        height: 250px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .common__header__about__title {
        margin-top:50px;
        font-family: 'Gilroy';
        font-size: 44px;
        line-height: 74px;
        /* identical to box height, or 168% */

        text-align: center;
        letter-spacing: 0.04em;

        color: #fff;
        margin-bottom:16px;
    }
    .common__header__about__description {
        max-width: 780px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        letter-spacing: 0.04em;

        color: rgba(255, 255, 255, 0.4);
    }
}

#find {
    width: 100%;
    margin: 50px 0;
    .find__form {
        width: 941px;
        margin: 0 auto;
        height: 56px;
        #search-icon {
            position: absolute;
            margin-top:19px;
            margin-left:27px;
            z-index: 1;
        }
        .find__form__input {
            width:868px;
            padding-left:72px;
            height: 56px;
            background: #F4F4F4;
            border-radius: 10px;

            @extend %text-description;
            color:$blue_01;
        }
    }
}

.articles__title {
    margin-bottom:32px;
    @extend %arcticle-link;
}

.common-article {
    .article__info__text__title {
        @extend %article-title;
    }
    .article__info__text__description {
        @extend %article-description;
    }
    .article__info {
        .article__description {
            width:300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p {
                @extend %text-description;
                letter-spacing: 0.04em;
                opacity: 1;
                text-align: start;
            }
            .article__description__author__name {
                color:$blue_01;
                opacity: 1;
            }
            .article__description__author__date
            {
                color:#000;
                opacity: 0.4;
            }
            .article__description__share {
                display: flex;
            }
            #favorite {
                margin-right: 35px;
            }
        }
    }
}

#popular-articles {
    width: 941px;
    margin: 0 auto;
    margin-bottom: 24px;
    .popular-articles__wrapper {
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 54px;
        .popular-articles__article {
            width: 300px;
            .article__img {
                width: 300px;
                height: 200px;
            }
        }
        .popular-articles__article:first-child {
            margin-bottom:33px;
            width:100%;
            .article__wrapper {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                .article__img {
                    width: 540px;
                    height:380px;
                }
            }
            .article__info__text {
                margin-bottom:30px;
                .article__info__text__title {
                    font-size: 48px;
                    line-height: 58px;
                    margin-bottom:32px;
                }
                .article__info__text__description {
                    width: 380px;
                }
            }
            .article__info {
                width: 380px;
                .article__description {
                    display: flex;
                }
            }
        }
    }
    >a{
        @extend %arcticle-link;
        text-align: center;
        font-size:16px;
    }
}
.line {
    width: 940px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

#all-arcticles {
    width: 940px;
    margin: 0 auto;
    margin-bottom:192px;
    .articles__title  {
        margin: 56px 0 32px 0;
    }
    .all-articles__wrapper {
        .article__wrapper {
            display: flex;
            flex-direction: row;
        }
        .all-articles__article {
            width: 859px;
            margin-bottom: 32px;
            .article__info__text {
                .article__info__text__description {
                    margin: 16px 0 14px 0;
                }
            }
            .article__info {
                margin-left:20px;
            }
        }
    }
    .all-articles__another-posts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .all-articles__another-posts__link-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 107px;
            .all-articles__another-posts__link {
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 20px;
                /* identical to box height */

                letter-spacing: 0.04em;

                /* blue_03 */

                color: $blue_03;
            }
            .arrow {
                width:12px;
            }
        }
        .all-articles__another-posts__link-wrapper:first-child {
            .arrow {
                rotate: (180deg);
            }
        }
        .all-articles__another-posts__link-wrapper:last-child {
            flex-direction: row-reverse;
        }
    }
}

#contacts {
    margin: 0 auto;
    margin-top:57px;
    margin-bottom:192px;
    h4 {
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: $blue_01;
        text-transform: uppercase;
    }
    .contacts__wrapper {
        width:940px;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 96px;
        h4 {
            margin-bottom: 24px;
        }
        .contact__info__description {
            @extend %text-description;
        }
        .contacts__info {
            .contact__info__description__img {
                margin-bottom:31px;
            }
            margin-top:63px;
            .contact__info__description {
                max-width: 299px;
            }
            .contact__wrapper {
                margin-top: 40px;
                .contact__info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .contact__info__img {
                        opacity: 0.6;
                    }
                    .contact__info__description {
                        margin-left: 16px;
                    }
                }
                .contact__info {
                    margin-bottom: 16px;
                }
            }
            .contact__wrapper:first-child {
                margin-top:71px;
            }
        }
        .contacts__feedback {
            width: 540px;
            height: 800px;
            background: #FFFFFF;
            box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            form {
                display: flex;
                flex-direction: column;
                margin-left: 56px;
                .contacts__feedback__title   {
                    margin: 56px 0 48px 0;
                }
                label {
                    @extend %text-description;
                    opacity:0.8;
                    line-height: 30px;
                    margin-bottom:8px;
                }
                input, textarea {
                    width: 428px;
                    height: 72px;

                    opacity: 0.4;

                    border: 1px solid $blue_03;
                    border-radius: 10px;
                    padding-left: 42.33px;
                    
                    @extend %text-description;
                    opacity:0.2;
                    line-height: 30px;
                    margin-bottom:32px;
                }
                textarea {
                    resize: none;
                    padding-top:21px;
                    height: 144px;
                    margin-bottom:72px;
                }
                button {
                    width: 428px;
                    height: 72px;
                    background: $blue_04;
                    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                    border-radius: 10px;

                    @extend %text-description;
                    opacity: 1;
                    color:#fff;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
        .contacts__map {
            margin-top: 96px;
        }
    }
}